<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>(づ￣ 3￣)づ~么么么哒的登录~</title>
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script>
		function submit() {
			jQuery.ajax( {
				type : 'POST',
				url : '/',
				dataType : 'json',
				data : {
					'username' : $('input[name=username]').val(),
					'password' : $('input[name=password]').val(),
				},
				success : function(data) {
					$('#message').text(data.message);
				},
			} );
		}
	</script>
	<style>
		body {
			text-align: center;
		}
	</style>
</head>
<body>
	{% if error %}
	<p>Error : {{ error }}</p>
	{% endif %}
    <p>Username: <input name="username" type="text" /></p>
    <p>Password: <input name="password" type="password" /></p>
    <button onclick="submit()">Submit</button>
	<p><span id="message"></span></p>
</body>
</html>