<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>(づ￣ 3￣)づ~么么么哒的登录~</title>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script>
		function submit() {
			jQuery.ajax( {
				type : 'POST',
				url : '/',
				dataType : 'json',
				data : {
					'username' : $('input[name=username]').val(),
					'password' : $('input[name=password]').val(),
				},
				success : function(data) {
					$('#message').text(data.message + ' ' + data.name);
				},
			} );
		}
	</script>
	<style>
        .widget-center {
        	position: absolute;
        	top: 50%;
        	left: 50%;
        	margin-left: -125px;
        	margin-top: -67px;
        }
	</style>
</head>
<body>
    <div class="widget-center">
        <p>Username: <input name="username" type="text" /></p>
        <p>Password: <input name="password" type="password" /></p>
        <button onclick="submit()">Submit</button>
        <p><span id="message"></span></p>
    </div>
</body>
</html>